<!DOCTYPE html>
<html>
<head>
<title>Facebook Login</title>
<meta charset="UTF-8">
</head>
<body>
<script>

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
        // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      fbAPI();
    } else {                                 // Not logged into your webpage or we are unable to tell.
      document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.'; // TODO Should replace this part
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
    var appId = "{{appId}}";
    var version = "{{version}}";

    FB.init({
      appId      : appId,
      cookie     : true,                     // Enable cookies to allow the server to access the session.
      xfbml      : true,                     // Parse social plugins on this webpage.
      version    : version           // Use this Graph API version for this call.
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);        // Returns the login status.
    });
  };


  (function(d, s, id) {                      // Load the SDK asynchronously
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

  function fbAPI() {                      // Using Graph API after login to get user info.
    console.log('Welcome!  Fetching your information.... ');
    FB.api(
        '/me',
        'GET',
        {"fields":"id,name,email"},
        function(response) {
            if (response.error){
                failLogin(response.error.message)
            }else {
                passInfo(response.email, response.name, response.id)
            }
        }
     );
  }

  function passInfo(email, name, id) {
    window.location.href = "/flogin/callback?email=" + email +
                        "&name=" + name + "&id=" + id
  }

  function failLogin(e) {
    window.location.href = "/flogin/callback?e=" + e
  }

</script>

<fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button>

<div id="status">
</div>

</body>
</html>